<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C:/Users/adila/OneDrive/Documents/BITM/TestAutomation">
        <classes><class name="com.config.BrowserConfig">
        </class><class name="com.config.test">
           </class></classes>
    </test>
</suite>